.movie-icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #000000;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
	font-family: "Hoefler Text","Baskerville Old Face",Garamond,"Times New Roman",serif; 
  width : 270px;
  height: 500px;
}

.movie-card-content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px; /* Adds space on left and right */
  transition: color 0.2s ease;
  font-size: 15px;
  text-align: center;
}

.movie-icon:hover {
  transform: scale(1.05)translateY(-2px);
  box-shadow: 0 12px 20px rgb(255, 0, 0);
}

.movie-icon img {
  width: 270px;
  height: 320px;
  border-radius: 8px 8px 0 0; /* Rounded corners for the top */
}
