/* Overlay background */
.modal-container {
    display: flex;
    position: fixed;
    inset: 0; /* shorthand for top/right/bottom/left = 0 */
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.2s ease-out;
    font-family: "Hoefler Text","Baskerville Old Face",Garamond,"Times New Roman",serif;
    z-index: 1000; /* Ensure the modal is above other content */

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal window */
.modal-content {
  background: #fff;
  border-radius: 8px;
  width: 70%;
  max-height: 65%;
  overflow-y: auto;
  position: relative;
  padding: 1.5rem;
  box-shadow: 0 6px 20px rgb(255, 0, 0);
  animation: slideDown 0.3s ease-out;

  display: flex;
  align-items: space-between;
  justify-content: center;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Header / close button */
.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.modal-body {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  text-align: center;
}

.modal-body h2 {
  font-size: 50px;
  display: flex;
  
}

.modal-body h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.details {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.details img {
  width: 250px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.details h2,
.details h3 {
  text-align: left;
  margin: 0 0 1rem 0;
  width: 100%;
}

