/* Overlay background */
.modal-container {
    display: flex;
    position: fixed;
    inset: 0; /* shorthand for top/right/bottom/left = 0 */
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.2s ease-out;
    font-family: "Hoefler Text","Baskerville Old Face",Garamond,"Times New Roman",serif;
    /* z-index: 1000; Ensure the modal is above other content */

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal window */ 
.modal-content {
  background: #fff;
  border-radius: 8px;
  width: 70%;
  max-height: 65%;
  overflow-y: auto;
  position: relative;
  padding: 1.5rem;
  box-shadow: 0 6px 20px rgb(255, 0, 0);
  animation: slideDown 0.3s ease-out;

  display: flex;
  align-items: space-between;
  justify-content: center;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Header / close button */
.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap : 20px;
}

.details-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details > :not(img) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.modal-body {
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.modal-title h2 {
  font-size: 60px;
  margin-bottom: 10px;
  color: #000000; 
  text-shadow: 2px 2px 4px #dd0909, -2px -2px 4px #ffffff;

}

.modal-body h3 {
  font-size: 25px;
  color: #000000; 
  text-align: left;

  /* display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center; */
}

.details img {
  width: 500px;
  height: 300px;
  border-radius: 8px;
  border: 2px solid #000000;
  box-shadow: 0 6px 20px rgb(255, 0, 0);
  flex-shrink: 0;
}

